# --- Dependencias ---
node_modules/
dist/
.astro/

# --- Logs y Caché ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/

# --- Variables de Entorno ---
.env
*.env.local
.env.*
!.env.example

# --- Archivos de Sistema / VS Code ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db

# --- Pruebas / Cobertura ---
coverage/
.nyc_output/

# --- Construcción y Temporales ---
.vercel/
.netlify/
*.log